<div class="container">
  <h1 class="head">
    <div class="talk">
    <p class="quote">Where Fashion and Fitness Meet</p>
    <img class="dress" src="../assets/imgs/logos/dress.png" alt="">
    </div>
  </h1>
<div class="all">
  <div class="column">
    <img class="images" src="../assets/imgs/activewear/1.jpeg">
    <div class="called">
      <p class="names">Stripy Transparent Black Set</p>
      <p class="money">LE 1000</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/activewear/2.jpeg">
    <div class="called">
      <p class="names">Seamless Maron Treatment Set</p>
      <p class="money">LE 600</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/activewear/3.jpeg">
    <div class="called">
      <p class="names">Galaxy Seamless Set</p>
      <p class="money">LE 890</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/activewear/4.jpeg">
    <div class="called">
      <p class="names">Old Americana Jogging Set</p>
      <p class="money">LE 925</p>
    </div>
  </div>
</div>
</div>