<div class="container">
  <h1 class="head">
    <div class="talk">
    <p class="quote">Buy Less, Choose Well</p>
    <img class="dress" src="../assets/imgs/logos/dress.png" alt="">
    </div>
  </h1>
<div class="all">
  <div class="column">
    <img class="images" src="../assets/imgs/casual/1.jpeg">
    <div class="called">
      <p class="names">Flora Sleeveless Blouse</p>
      <p class="money">LE 599</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/2.jpeg">
    <div class="called">
      <p class="names">Peach Cake Ruffles Skirt</p>
      <p class="money">LE 890</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/3.jpeg">
    <div class="called">
      <p class="names">Ruby Ruffles Blouse</p>
      <p class="money">LE 750</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/4.jpeg">
    <div class="called">
      <p class="names">Dotty Cropped Blouse</p>
      <p class="money">LE 650</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/5.jpeg">
    <div class="called">
      <p class="names">Power Pink Half Sleeves Jumpsuit</p>
      <p class="money">LE 1100</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/6.jpeg">
    <div class="called">
      <p class="names">Barbie Dreams Off Shoulder Blouse</p>
      <p class="money">LE 910</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/7.jpeg">
    <div class="called">
      <p class="names">Creamy Latte Half-and-half Set</p>
      <p class="money">LE 850</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/8.jpeg">
    <div class="called">
      <p class="names">Molly Super high-waist Skinny Jeans</p>
      <p class="money">LE 900</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/casual/9.jpeg">
    <div class="called">
      <p class="names"> Cutty low-waist Light Skinny Jeans</p>
      <p class="money">LE 730</p>
    </div>
  </div>
</div>
</div>