<div class="container">
  <h1 class="head">
    <div class="talk">
    <p class="quote">Classy and Fabulous</p>
    <img class="dress" src="../assets/imgs/logos/dress.png" alt="">
    </div>
  </h1>
<div class="all">
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/1.jpeg">
    <div class="called">
      <p class="names">Flawless Filter White Dress</p>
      <p class="money">LE 1370</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/2.jpeg">
    <div class="called">
      <p class="names">Musterd One Shoulder Jumpsuit</p>
      <p class="money">LE 900</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/3.jpeg">
    <div class="called">
      <p class="names">Stardust One Shoulder dress</p>
      <p class="money">LE 1200</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/4.jpeg">
    <div class="called">
      <p class="names">Barbie Dreams Transparent Dress</p>
      <p class="money">LE 750</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/5.jpeg">
    <div class="called">
      <p class="names">Women in Black One Shoulder Jumpsuit</p>
      <p class="money">LE 1100</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/6.jpeg">
    <div class="called">
      <p class="names">Maroon Talk Short Dress</p>
      <p class="money">LE 510</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/7.jpeg">
    <div class="called">
      <p class="names">Toffee Hazel Seamless Dress</p>
      <p class="money">LE 895</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/soiree/8.jpeg">
    <div class="called">
      <p class="names">Cat Woman Leather Pants</p>
      <p class="money">LE 950</p>
    </div>
  </div>
</div>
</div>