<div class="container">
  <h1 class="head">
    <div class="talk">
    <p class="quote">Elegance is an Issue of Personality</p>
    <img class="dress" src="../assets/imgs/logos/dress.png" alt="">
    </div>
  </h1>
<div class="all">
  <div class="column">
    <img class="images" src="../assets/imgs/formal/1.jpeg">
    <div class="called">
      <p class="names">Pillow Talk White Suit</p>
      <p class="money">LE 1400</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/formal/2.jpeg">
    <div class="called">
      <p class="names">Comfy Hot Pink Suit</p>
      <p class="money">LE 900</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/formal/3.jpeg">
    <div class="called">
      <p class="names">Daizzy Waisted Black Suit</p>
      <p class="money">LE 1310</p>
    </div>
  </div>
  <div class="column">
    <img class="images" src="../assets/imgs/formal/4.jpeg">
    <div class="called">
      <p class="names">Impressive in Baby Blue Suit</p>
      <p class="money">LE 1200</p>
    </div>
  </div>
</div>
</div>